{% extends 'base.html' %}

{% block 'title' %}Užsakymas{% endblock %}

{% block 'content' %}
<h1>Užsakymas:</h1>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Automobilis: </strong>{{ order.car }}</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
      <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td><b>{{ line.line_sum }}</b></td>
      </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>Bendra suma:</b></td>
        <td><b>{{ order.total }}</b></td>
    </tr>
    </tbody>
  </table>
{% endblock %}