/* Antraštės skyrius */
.header-gradient {
    background: linear-gradient(45deg, #2c3e50, #8e44ad); /* Prabangus gradientas su tamsiai pilka ir violetine */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Subtilus šešėlis */
    color: #ecf0f1;
    padding: 3rem 0;
}

.navbar .nav-link-custom:hover, .navbar .nav-link.active {
    color: #8e44ad;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    }

/* Pagrindinės turinio srities stilius */
.container h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    border-bottom: 2px solid #8e44ad;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: #2c3e50;
    border-left: 4px solid #8e44ad;
    border-radius: 25px;
}



.header-gradient h1 {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



